body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #4facfe, #00f2);

}

.container {
    justify-content: center;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    height: 250px;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
}

.search-box {
    padding: 10px;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box input {
    padding: 10px;
    border: none;
    border-radius: 15px;
    width: 200px;
}

.search-box button {
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    background-color: #0066cc;
    color: #fff;
    cursor: pointer;
    width: 100px;
}

.search-box button:hover {
    background: #010c18;
}

.weather-info {
    font-size: 18px;
    line-height: 1.5;
}

.weather-info img {
    width: 50px;
    height: 50px;
}